@model NVC_Food_APP.Models.Jedzenie
@using NVC_Food_APP.Logic
@{
    ViewBag.Title = "Szczeguly";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="ListaKategoriZawartosc">
    @Html.Action("MenuKAtegorie")
    <div id="KategorieListPrawaSekcja">
        <div id="Breadcrumb">
            <img height="300" width="300" src=@Url.ObrazkiSciezka(Model.PlikObrazek)  />
        </div>
        <section id="SekcjaKurs">
            <div id="KursLewa">
                <img src="" />
            </div>
            <div id="KursPrawa">
                <div id="KursNazwa">
                    <h1>
                        @Model.NazwaJedzenia
                    </h1>
                    <h2>
                        @Model.Kategoria
                    </h2>
                </div>
                <div id="KursCena">
                    <div>
                        @Model.Cena zł
                    </div>
                    <a href="@Url.Action("DodajDoKoszyka", "Koszyk", new { id= Model.JedzenieID})"></a>
                </div>
                <div id="KursOpis">
                    
                    @Model.OpisJedzenia
                </div>
            </div>
        </section>
    </div>
</div>
