@model NVC_Food_APP.ViewModel.LogowanieViewModel
@{
    Layout = null;
}

<div>

    @using (Html.BeginForm("Logowanie", "Konta", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div>
            @Html.ValidationMessage("Błąd logowania", "")
        </div>

        <table id="login-table" style="margin-left: auto; margin-right: auto;">
            <tr>
                <td>@Html.LabelFor(o => o.Email, "E-mail:")</td>
                <td>
                    @Html.TextBoxFor(o => o.Email)
                    <div class="login-validation-message">
                        @Html.ValidationMessageFor(o => o.Email)
                    </div>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(o => o.Password, "Hasło")</td>
                <td>
                    @Html.PasswordFor(o => o.Password)
                    <div class="login-validation-message">
                        @Html.ValidationMessageFor(o => o.Password)
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <input type="submit" value="Zaloguj" class="ui-button" style="height: 40px;" />
                </td>
            </tr>
        </table>
    }


</div>>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}