<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
</head>
<body>
    <header>
        <div style="overflow: hidden;">
            <a id="koszykHeaderLink" href="link">
                Koszyk (0)
                <span></span>
            </a>
            <a id="indexHeaderLogo" href="link">
                <img src="@Url.Content("~/Content/Images/logo.png")" class="center" />
            </a>
        </div>
    </header>
    

    <div>
        @RenderBody()
    </div>


    <footer>
        <nav>
            <ul>
                <li><a href="@Url.Action("StronyStatyczne","Home", new { nazwa = "Oaplikacji" })" style="">O aplikacji </a></li>
                <li><a href="@Url.Action("StronyStatyczne","Home", new { nazwa = "Kontakt" })" style="">Kontakt</a></li>
                <li><a href="@Url.Action("StronyStatyczne","Home", new { nazwa = "Pomoc" })" style="">Pomoc</a></li>
            </ul>
        </nav>


    </footer>
    @RenderSection("Scripts", required : false)
</body>
</html>