@model NVC_Food_APP.ViewModel.HomeViewModel
@using NVC_Food_APP.Logic
@{
    ViewBag.Title = "Aplikacja do zamawiania jedzenia";
}
<nav class="kategorieHorizontal">
    <ul>
        @foreach (var kategoria in Model.Kategorie)
        {
            <li>
                <a href="@Url.Action("Lista", "Jedzenie", new {nazwaKategorii = kategoria.NazwaKategorii.ToLower()})"
                   style="background-image: url(@Url.IkonyKategoriiSciezka(kategoria.NazwaPlikuIkony) ">
                    @kategoria.NazwaKategorii
                </a>
            </li>
        }

    </ul>
    <a href="link">
        <img id="baner" src="../Content/Images/baner.png" />
    </a>
</nav>


<section>
    <ul class="KursyTrzyKolumny duzaListaKursy">
        @foreach (var naj in Model.Najlepsze)
        {
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="@Url.Action("DodajDoKoszyka", "Koszyk", new { id= naj.JedzenieID})">
                        <img src="../Content/Images/koszyk.png" />
                    </a>
                    <a class="kursSzczegolyLink" href="@Url.Action("Szczeguly", "Jedzenie", new { id = naj.JedzenieID})">
                        <div class="bestsellerFlag"></div>
                        <img class="kurs" src="@Url.ObrazkiSciezka(naj.PlikObrazek)" />
                        <h1>
                            @naj.NazwaJedzenia<br /><br />
                            @*@naj.Kategoria*@
                            @naj.Cena zł.
                        </h1>
                    </a>
                </article>
            </li>
        }
    </ul>

</section>



<section>
    <ul class="KursyTrzyKolumny duzaListaKursy">
        @foreach (var nowe in Model.Nowosc)
        {
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="@Url.Action("DodajDoKoszyka", "Koszyk", new { id= nowe.JedzenieID})">
                        <img src="../Content/Images/koszyk.png" />
                    </a>
                    <a class="kursSzczegolyLink" href="@Url.Action("Szczeguly", "Jedzenie", new { id = nowe.JedzenieID})">
                        @*232*@
                        <div class="newFlag"></div>
                        <img class="kurs" src="@Url.ObrazkiSciezka(nowe.PlikObrazek)" />
                        <h1>
                            @nowe.NazwaJedzenia<br /><br />
                            @*@nowe.Kategoria*@
                            @nowe.Cena zł.
                        </h1>
                    </a>
                </article>
            </li>
        }
    </ul>
</section>

